@import "tailwindcss";
@tailwind utilities;

/* 🌞 LIGHT */
html.light {
  --bg-main: #F8FAFC;
  --bg-card: #FFFFFF;
  --header-bg: #FFFFFF;

  --text-primary: #0F172A;
  --text-secondary: #475569;

  --primary: #2563EB;
}

/* 🌙 DARK */
html.dark {
  --bg-main: #0B1220;
  --bg-card: #111827;
  --header-bg: #111827;

  --text-primary: #E5E7EB;
  --text-secondary: #9CA3AF;

  --primary: #3B82F6;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--bg-main);
  color: var(--text-primary);
}